
@{
    ViewData["Title"] = "AccessDeniedPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="lg-margin"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="no-content-comment">
                <h2>404</h2>
                <h3>Buddy! Something Be Wrong<br>Pls send to mail a@a.com or <br /> go to <a href="~/Account/Index">Login page</a>.... </h3> 
            </div>
        </div>
    </div>
</div>

