@model LoginModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="sm-margin"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @if (TempData["AccountError"] != null)
            {
                <div class="alert alert-danger alert-dismissable" style="text-align:center">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>@TempData["AccountError"]</strong>
                </div>
            }
            <header class="content-title">
                <h1 class="title">Login or Create An Account</h1>
                <div class="md-margin"></div>
            </header>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>New Customer</h2>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    <div class="md-margin"></div><a href="~/Account/CreateAccount" class="btn btn-custom-2">Create An Account</a>
                    <div class="lg-margin"></div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Registered Customers</h2>
                    <p>If you have an account with us, please log in.</p>
                    <div class="xs-margin"></div>
                    <form asp-controller="Account" asp-action="Index" method="post">
                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                        <div class="input-group">
                            <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email*</span></span>
                            <input asp-for="@Model.Email" class="form-control input-lg">
                        </div>
                        <div class="input-group xs-margin">
                            <span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Password*</span></span>
                            <input asp-for="Password" class="form-control input-lg">
                        </div><span class="help-block text-right"><a asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a></span>
                        <button class="btn btn-custom-2">LOGIN</button>
                    </form>
                    <div class="sm-margin"></div>
                </div>
            </div>
        </div>
    </div>
</div>

