<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>E Commerce Site</title>
    <meta name="description" content="">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CPT+Gudea:400,700,400italic%7CPT+Oswald:400,700,300" rel="stylesheet" id="googlefont">
    <link rel="stylesheet" href="~/UserTemplate/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/UserTemplate/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/UserTemplate/css/prettyPhoto.css">
    <link rel="stylesheet" href="~/UserTemplate/css/colpick.css">
    <link rel="stylesheet" href="~/UserTemplate/css/revslider.css">
    <link rel="stylesheet" href="~/UserTemplate/css/owl.carousel.css">
    <link rel="stylesheet" href="~/UserTemplate/css/style.css">
    <link rel="stylesheet" href="~/UserTemplate/css/responsive.css">
    <link rel="icon" type="image/png" href="images/icons/icon.html">
    <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.html">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.html">


    <script src="~/UserTemplate/js/jquery-1.11.1.min.js"></script>

    <!--[if lt IE 9]><script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script><![endif]-->
    <style id="custom-style"></style>

</head>

<body>
    <div id="wrapper">
        @await Component.InvokeAsync("HeaderSetups")

        <section id="content">
            @if (TempData["SuccesCart"] != null)
            {
                <div class="alert alert-info alert-dismissable" id="forCartAlert" style="text-align:center">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>@TempData["SuccesCart"]</strong>
                </div>
            }


            @RenderBody()

        </section>
        <footer id="footer">
            <div id="twitterfeed-container" style="background:#FFCE00;">
                <div class="container">
                    <div class="row">
                        <div class="twitterfeed col-md-12">

                        </div>
                    </div>
                </div>
            </div>
            <div id="inner-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>MY ACCOUNT</h3>
                            <ul class="links">
                                <li>
                                    <a href="#">My account</a>
                                </li>
                                <li>
                                    <a href="#">Personal information</a>
                                </li>
                                <li>
                                    <a href="#">Addresses</a>
                                </li>
                                <li>
                                    <a href="#">Discount</a>
                                </li>
                                <li>
                                    <a href="#">Order History</a>
                                </li>
                                <li>
                                    <a href="#">Your Vouchers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>INFORMATION</h3>
                            <ul class="links">
                                <li>
                                    <a href="#">New products</a>
                                </li>
                                <li>
                                    <a href="#">Top sellers</a>
                                </li>
                                <li>
                                    <a href="#">Specials</a>
                                </li>
                                <li>
                                    <a href="#">Manufacturers</a>
                                </li>
                                <li>
                                    <a href="#">Suppliers</a>
                                </li>
                                <li>
                                    <a href="#">Our stores</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>MY ACCOUNT</h3>
                            <ul class="contact-list">
                                <li>
                                    <strong>Venedor Ltd</strong>
                                </li>
                                <li>United Kingdom</li>
                                <li>Greater London</li>
                                <li>London 02587</li>
                                <li>Oxford Street 48/188</li>
                                <li>Working Days: Mon. - Sun.</li>
                                <li>Working Hours: 9.00AM - 8.00PM</li>
                            </ul>
                        </div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-md-3 col-sm-12 col-xs-12 widget">
                            <h3>FACEBOOK LIKE BOX</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12 footer-social-links-container">
                            <ul class="social-links clearfix">
                                <li>
                                    <a href="#" class="social-icon icon-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-rss"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-delicious"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-flickr"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-skype"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-email"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12 footer-text-container">
                            <p>&copy; 2014 Powered by Company&trade;. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div><a href="#" id="scroll-top" title="Scroll to Top"><i class="fa fa-angle-up"></i></a>
    @RenderSection("Scripts", required: false)
    <script src="~/UserTemplate/js/bootstrap.min.js"></script>
    <script src="~/UserTemplate/js/smoothscroll.js"></script>
    <script src="~/UserTemplate/js/jquery.debouncedresize.js"></script>
    <script src="~/UserTemplate/js/retina.min.js"></script>
    <script src="~/UserTemplate/js/jquery.placeholder.js"></script>
    <script src="~/UserTemplate/js/jquery.hoverIntent.min.js"></script>
    <script src="~/UserTemplate/js/twitter/jquery.tweet.min.js"></script>
    <script src="~/UserTemplate/js/jquery.flexslider-min.js"></script>
    <script src="~/UserTemplate/js/owl.carousel.min.js"></script>
    <script src="~/UserTemplate/js/jflickrfeed.min.js"></script>
    <script src="~/UserTemplate/js/colpick.js"></script>
    <script src="~/UserTemplate/js/main.js"></script>




</body>


</html>